@charset "UTF-8";


.product-card .product-card-swatches, .product-card .product-card-swatches .product-card-swatch, .product-card .product-card-swatches--title {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

.products .gallery--item, .product-card--content-spacing-false .product-featured-image-link, .product-card--content-spacing-true {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px); }

.no-js .product-card-quickview {
  display: none !important; }


.product-card-quickview {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08); }


.products {
  list-style: none; }
  .products.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    min-width: 100%;
    padding: 0; }
    .products.carousel .product-card {
      flex-shrink: 0;
      margin-bottom: 0 !important; }
    .products.carousel .carousel__slide {
      width: 100%;
      display: flex; }
    .no-js .products.carousel {
      overflow-x: scroll; }
    .products.carousel.flickity-enabled {
      overflow: visible; }
    .products.carousel .promotion-column {
      margin-bottom: 0;
      height: 100%; }
    @media only screen and (max-width: 767px) {
      .products.carousel .flickity-viewport {
        overflow: visible; } }
  .products .promotion-column {
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .products .promotion-column {
        margin-bottom: 30px; } }
    @media only screen and (min-width: 768px) {
      .products .promotion-column.promotion-column-width--2 {
        flex: 0 0 50%;
        max-width: 50%; } }
    @media only screen and (min-width: 768px) {
      .products .promotion-column.promotion-column-width--2.product-columns-3 {
        flex: 0 0 66.6%;
        max-width: 66.6%; } }
    @media only screen and (min-width: 768px) {
      .products .promotion-column.promotion-column-width--2.product-columns-5 {
        flex: 0 0 40%;
        max-width: 40%; } }
  .products .gallery--item {
    height: 100%;
    overflow: hidden;
    flex: 1; }
    .products .gallery--item figure {
      height: 100%;
      padding-bottom: 0; }
    .products .gallery--item-content {
      padding: 15px; }
      @media only screen and (min-width: 768px) {
        .products .gallery--item-content {
          padding: 30px; } }
      .products .gallery--item-content p {
        font-size: 0.8125rem;
        margin-bottom: 15px; }
        @media only screen and (min-width: 768px) {
          .products .gallery--item-content p {
            font-size: 0.9375rem; } }
  .product-card-spacing-small .products.row {
    margin: 0 -5px; }
    .product-card-spacing-small .products.row .columns,
    .product-card-spacing-small .products.row .column {
      padding: 0 5px; }
    .product-card-spacing-small .products.row .product-card {
      margin-bottom: 10px;
      min-height: calc(100% - 10px); }
    .product-card-spacing-small .products.row + .pagination {
      margin-top: 20px; }
    .product-card-spacing-small .products.row .flickity-nav.flickity-prev {
      left: -16px; }
    .product-card-spacing-small .products.row .flickity-nav.flickity-next {
      right: -16px; }
  @media only screen and (min-width: 768px) {
    .product-card-spacing-medium .products.row {
      margin: 0 -10px; }
      .product-card-spacing-medium .products.row .columns,
      .product-card-spacing-medium .products.row .column {
        padding: 0 10px; }
      .product-card-spacing-medium .products.row .product-card {
        margin-bottom: 20px;
        min-height: calc(100% - 20px); }
      .product-card-spacing-medium .products.row + .pagination {
        margin-top: 10px; } }
  .product-card-spacing-medium .products.row .flickity-nav.flickity-prev {
    left: -11px; }
  .product-card-spacing-medium .products.row .flickity-nav.flickity-next {
    right: -11px; }
  @media only screen and (min-width: 768px) {
    .product-card-spacing-large .products.row {
      margin: 0 -15px; }
      .product-card-spacing-large .products.row .columns,
      .product-card-spacing-large .products.row .column {
        padding: 0 15px; }
      .product-card-spacing-large .products.row .product-card {
        margin-bottom: 30px;
        min-height: calc(100% - 30px); }
      .product-card-spacing-large .products.row + .pagination {
        margin-top: 0px; } }
  .product-card-spacing-large .products.row .flickity-nav.flickity-prev {
    left: -6px; }
  .product-card-spacing-large .products.row .flickity-nav.flickity-next {
    right: -6px; }

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  min-height: calc(100% - 30px);
  width: 100%;
  overflow: hidden;
  background: var(--color-product-card-bg, #fff); }
  .carousel .product-card {
    margin-bottom: 0; }
  .product-card .product-card-info {
    line-height: 1;
    flex: 1;
    display: flex;
    flex-direction: column; }
    .product-card .product-card-info > *:last-child {
      margin-bottom: 0; }
  .product-card .product-featured-image {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0; }
    @media only screen and (min-width: 768px) {
      .product-card .product-featured-image {
        margin-bottom: 20px; } }
    @media (hover: hover) {
      .product-card .product-featured-image.thb-hover:hover .product-primary-image {
        opacity: 0; }
      .product-card .product-featured-image.thb-hover:hover .product-secondary-image {
        opacity: 1; } }
    .product-card .product-featured-image-link {
      display: block;
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: var(--padding-bottom); }
      .product-card .product-featured-image-link img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5; }
      .product-card .product-featured-image-link .thb-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .product-card .product-featured-image-link .product-secondary-image {
        z-index: 10;
        opacity: 0; }
      .product-card .product-featured-image-link.aspect-ratio--square {
        padding-bottom: 100%; }
      .product-card .product-featured-image-link.aspect-ratio--portrait {
        padding-bottom: 125%; }
      .product-card .product-featured-image-link.aspect-ratio--landscape {
        padding-bottom: 75%; }
  .product-card .product-card-vendor {
    text-transform: uppercase;
    font-size: 0.6875rem;
    letter-spacing: 0.1em;
    margin-bottom: 8px;
    opacity: 0.8; }
    .product-card .product-card-vendor a {
      color: var(--color-body, #2c2d2e); }
  .product-card .product-card-title {
    font-size: calc(var(--font-product-title-scale, 1) * 1rem);
    line-height: calc(var(--font-product-title-line-height-scale, 1) * 1.4);
    font-weight: var(--font-body-medium-weight, 500);
    display: block;
    margin-bottom: 5px; }
  .product-card .price {
    font-size: calc(var(--font-product-price-scale, 1) * 0.9375rem); }
    .product-card .price + .product-card-title {
      margin-top: 5px;
      margin-bottom: 0; }

.star-rating {
  --star-percent: calc(var(--star-rating) / 5 * 100%);
  display: inline-block;
  font-size: 1rem;
  font-family: Times;
  line-height: 1; }
  .star-rating:before {
    content: "★★★★★";
    background: linear-gradient(90deg, var(--color-star) var(--star-percent), #e1e1e1 var(--star-percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .star-rating span {
    font-size: 0.75rem;
    margin-left: 8px; }
